body{
    background-color: aquamarine;
}
.parent{
    display: flex;
    
}
.container1{
    background-color: yellow;
    flex-shrink: 2;
}
.container2{
    background-color: blue;
    flex-shrink: 4;
}
.container3{
    background-color: red;
    flex-shrink: 1;
}
.container{
    width: 300px;
    height: 300px;
}